<ul class="post-options">
    <li>
        {{!-- <p id="edit-post" data-post="{{id}}">Edit</p> --}}
        <a href="../p/{{id}}/edit">Edit</a>
    </li>
    <li>
        <p id="delete-post-{{id}}" class='dlt-btn' data-post="{{id}}">Delete</p>
        <input type="hidden" class="hidden-postId" id="hidden-postId" value="{{id}}">
    </li>
</ul>